* text=auto eol=lf
*.sh text eol=lf
*.ini text eol=lf
*.py text eol=lf
*.patch text eol=lf
*.yml text eol=lf
*.md text eol=lf
# shipped game data: byte for byte, never converted (the shareware licences say unmodified)
ports/*/data/** binary
